@import '../../assets/scss/_variables.scss';
.product{
    display:flex;
    border-bottom: 1px solid $border;
    margin:0 5px 10px 0;
    padding-bottom: 10px;
    .product-name{
        color: $productHeading;
        font-weight: 400;
    }
    .main-button{
        @extend %mainBtn ;
        

    }

};